/* 右侧的导航栏 */
.tool-bar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 85px;
  height: 540px;
  position: fixed;
  bottom: 80px;
  right: 0px;
}

.tool-bar a {
  width: 85px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

.tool-bar a:last-child {
  visibility: hidden;
}

.tool-bar a :hover {
  color: #ff6700;
}

.tool-bar a div {
  position: relative;
}

.tool-bar a img {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 25px;
  left: 10px;
}

.tool-bar a span {
  font-size: 14px;
  color: #757575;
  transition: color .3s;
}

.static {
  opacity: 1;
}

.hover {
  opacity: 0;
  transition: opacity .3s;
}

.hover:hover {
  opacity: 1;
}